# Application
PORT=3000
HOST='localhost'

# Environment
NODE_ENV=development

# Database
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=team_generator
DB_USER_NAME=root
DB_PASSWORD=root
DB_SOCKET=/Applications/MAMP/tmp/mysql/mysql.sock

# Log
LOG_DIR=logs
LOG_LEVEL='debug'

JWT_KEY=RHQ0UkhqanFqVlhwTzlqZ0R0NFJIampxalZYcE85amcK
